<%- include("partials/header") %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1> Welcome to YelpCamp</h1>
            <p>Check out the beautiful campgrounds all over the world</p>
            <p>
                <a href="/campground/new" class="btn btn-primary btn-lg">Add a new campground</a>
            </p>
        </div>
    </header>
    
    <a href='/campgrounds/new'>add a new campgrounds</a>
    <% campgrounds.forEach((campground) => { %>
        <div>
            <h4><%= campground.name %></h4>
            <img src='<%= campground.image %>'>
        </div>
    <% }); %> 
</div>

<%- include("partials/footer") %>