.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.delete-form {
    display: inline;
}

.row h1 {
    text-align: center
}

.form-container {
    width: 30%;
    margin: 25px auto;
}

#more-button {
    margin-left: 9px;
}